{% extends 'base.html' %}

{% block content %}
<!-- Navigation-->
            {% include 'navbar.html' %}
<!-- Header-->
        <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">About Us</h1>
                    <p class="lead fw-normal text-white-50 mb-0">Learn more about our company and values</p>
                </div>
            </div>
        </header>
        <div class="container">
            <div class="row">
                <center>
                    <div class="col-8">
                        <br><br>
                        <p class="justify">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean semper rutrum ex in tincidunt. In id porta augue. Mauris vitae quam ipsum. Nunc lobortis felis sed lectus commodo consectetur. Fusce tristique elit id molestie ullamcorper. Phasellus maximus, nibh in sagittis tempus, augue arcu viverra nulla, id sollicitudin turpis augue a turpis. Pellentesque luctus, odio id ullamcorper scelerisque, odio arcu volutpat sem, eget mollis lectus ante at eros. Phasellus molestie urna purus, lobortis suscipit ex ultrices vel. Aenean eleifend est eget elit molestie convallis. In hac habitasse platea dictumst. Suspendisse dictum nunc eget orci tincidunt posuere. Cras quis diam lectus. Cras rutrum sem leo, a sagittis felis fermentum eget. Sed mauris purus, placerat et dolor ut, rhoncus efficitur ex. Phasellus sed risus fringilla, pellentesque risus vel, rutrum nisl. Suspendisse potenti.
                        <br><br>

                            Etiam auctor nisi in nisi euismod tempor. Morbi eget eros in risus tempus fringilla. Suspendisse eu est tempor, convallis quam vitae, viverra enim. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque rutrum laoreet erat ut dapibus. Sed tempus enim tincidunt dui interdum, nec lobortis quam imperdiet. Pellentesque imperdiet viverra enim sed laoreet. Nulla dictum libero ut sem hendrerit, sed hendrerit neque vehicula. Duis sed lectus enim. Fusce nec ligula massa. Proin ligula eros, dapibus vel augue ut, dictum pretium justo. Aenean lobortis ipsum sed vulputate tempus. Duis id fringilla elit. Donec nisi arcu, efficitur et imperdiet eu, porttitor et dui. Aliquam porttitor porta augue ac pulvinar. Sed arcu arcu, euismod sed velit at, facilisis rhoncus tortor.
                        <br><br>

                            Nulla accumsan mi quis urna lobortis fermentum. Morbi fringilla ante mauris, lobortis eleifend risus blandit eget. Donec vitae nunc et neque condimentum porttitor. Integer odio ante, auctor at purus at, porttitor pharetra libero. Fusce maximus arcu at quam accumsan lacinia. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Pellentesque at augue sagittis, cursus lacus dignissim, semper tellus. Pellentesque in iaculis sem. Etiam eget orci nisi. Fusce imperdiet quam id tincidunt elementum. Phasellus consequat eget mauris et congue. In dictum fermentum tellus, non egestas purus tempor vitae. Ut est libero, laoreet non tortor ac, efficitur varius odio. Sed justo quam, iaculis at est ac, interdum posuere odio.
                        <br><br>
                    </p>
                    </div>
                </center>
            </div>"
        </div>
{% endblock %}